node_modules
.next
out
build
dist
coverage
.DS_Store
*.pem
*.tsbuildinfo
*.log
.env*

.idea/
.vscode/
.vercel
.git
.gitignore

Dockerfile*
docker-compose*
.dockerignore

!app/
!components/
!lib/
!hooks/
!public/
!tsconfig.json
!package.json
!package-lock.json
!next.config.js
!next.config.ts
!postcss.config.js
!tailwind.config.js
!shadcn-ui.json
