# Ignore heavy/development-only files and folders
node_modules
.next
out
build
dist
coverage
.DS_Store
*.pem
*.tsbuildinfo
*.log
.env*

# Ignore IDE/project files
.idea/
.vscode/
.vercel
.git
.gitignore

# Ignore Docker files (optional if not used in app)
Dockerfile*
docker-compose*
