<ul nz-menu nzMode="horizontal" class="bg-blue-600 text-white">
  <li nz-menu-item><a routerLink="/">Home</a></li>
  <li nz-menu-item><a routerLink="/health-record">Health Record</a></li>
  <li nz-menu-item>
    <a routerLink="/medicine-submission">Medicine Submission</a>
  </li>
  <li nz-menu-item><a routerLink="/medical-event">Medical Events</a></li>
  <li nz-menu-item>
    <a routerLink="/medicine-inventory">Medicine Inventory</a>
  </li>
  <li nz-menu-item><a routerLink="/vaccination">Vaccination</a></li>
  <li nz-menu-item><a routerLink="/examination">Medical Examination</a></li>
  <li nz-menu-item><a routerLink="/profile">Profile</a></li>
  <li nz-menu-item><a routerLink="/dashboard">Dashboard</a></li>
  <li nz-menu-item><a routerLink="/report">Reports</a></li>
  <li nz-menu-item><a routerLink="/login">Login</a></li>
</ul>
